<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Stephane Godbillon" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--<script type="text/javascript" src="http://search.twitter.com/search.json?callback=Twitter&rpp=10&search_type=recent&q=from:sgodbillon"></script>-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34436650-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>@sgodbillon <em>(Stephane Godbillon)</em></h1>
          
          <blockquote>
            Software architect at <a href="http://zenexity.com">zenexity</a>. Scala, Play 2.0 and MongoDB enthusiast. <a href="/me.html">About me</a>
          </blockquote>
        </div>
        <aside>
          <nav>
          <h2>Some of my projects</h2>
            <a href="https://github.com/zenexity/AsyncMongo">
              ReactiveMongo
              <span class="description">non-blocking and asynchronous MongoDB driver for Scala</span>
            </a>
            <a href="https://github.com/sgodbillon/BytecodeParser">
              BytecodeParser
              <span class="description">java library to extract as much information from bytecode as possible</span>
            </a>
            <a href="https://github.com/sgodbillon/BytecodeParser">
              Betterlogs
              <span class="description">Play plugin for enhancing logs</span>
            </a>
          <h2>Follow me!</h2>
          <a href="https://github.com/sgodbillon">Github (sgodbillon)</a>
          <a href="https://twitter.com/sgodbillon">Twitter @sgodbillon</a>
          {% if site.posts.size > 1 %}
          <h2>Previous articles</h2>
          <ul>
            {% for post in site.posts limit:3 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          </nav>
          <!--
          <div id="tweets">
            <h2>Tweets</h2>
            <ul>
              <li>
                <span class="author">Stephane Godbillon</span>
                <span class="date">14 Aug</span>
                <p>Very nice! Will use it very soon, thanks :) RT @bobylito http://bobylito.me/Scocco/  #scala #litterateProgramming #doccoRipoff #WIP :)</p>
              </li>
            </ul>
          </div>
        -->
        </aside>
        {{ content }}
      </div>
      <footer>  
        <p>© Stephane Godbillon 2012</p>
      </footer>
    </div>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(66634393); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66634393ns.gif" /></p></noscript>
  </body>
</html>